body{
    background-color: rgb(9, 5, 30);
}
label{
    display: block;
    margin-top: 0.6%;
    color: rgb(6, 175, 65);
    margin-bottom: 0.6%;
    padding-left: 1%;
    font-size: 1.6em;

}
textarea{
    width: 70%;
    height: 250px;
}
form{
    border: 3px solid;
    border-color: aqua;
}
input{
    width: 70%;
    height: 2.3em;
}